* {
    scroll-behavior: smooth;
}

img,
button,
a {
    user-select: none;
}
.wrapper[data-theme='light'] {
    --background: white;
}
.wrapper[data-theme='dark'] {
    --background: #292929;
}
.wrapper::-webkit-scrollbar {
    width: 8px;
    background-color: var(--background);
}
.wrapper::-webkit-scrollbar-thumb {
    background-color: var(--main);
}

textarea::-webkit-scrollbar {
    background-color: transparent;

    width: 5px;
}
textarea::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 1px solid var(--background);
    border-radius: 5px;
}
textarea:hover::-webkit-scrollbar-thumb {
    background-color: var(--main);
}

@media (max-width: 768px) {
    .wrapper {
        scrollbar-width: 0 !important;
    }

    .wrapper::-webkit-scrollbar {
        display: none !important;
    }
}
